$main-title-font: 'Bungee Shade', cursive;
$description-font: 'Quicksand', sans-serif;
$solution-font: 'Josefin Slab', serif;

$js-yellow-color: rgb(251, 169, 26);
$js-brown-color: rgb(69, 48, 20);
$orange-color: #ff531a;
