body {
  display: flex;
  margin-left: 25rem;
}

h3{
  font-family: 'Josefin Slab', serif;
  font-size: 1.2rem;
  font-weight: bold;
}

p{
  font-family: 'Cutive Mono', monospace;
  font-weight: normal;
  font-size: 1rem;
}
